<%- include('../partials/header') %>

<nav>
  <a href="/search">Search</a>
  |
  <a href="/show">Recent Searches</a>
  |
  <a href="/show/new">Add Quote</a>
</nav>

<h1><%= quote.quote %></h1>

<a href="/quote/<%= quote.id %>>/edit">Edit</a>
<div>
  <ul class="details">
    <li><%= quote.actor.name %></li>
    <li><%= quote.movie.title %></li>
  </ul>
</div>

<form method="POST" action="/show/<%= quote.id %>?_method=DELETE">
  <button type="submit">Delete</button>
</form>

<%- include('../partials/footer') %>
