<%- include('../partials/header') %>



<h1><%= quote.quote %></h1>

<div id="details">
  <ul class="details-list">
    <li><%= quote.actor.name %></li>
    <li><%= quote.movie.title %></li>
  </ul>
</div>
<a id="edit" href="/show/<%= quote.id %>/edit">Edit</a>
<br>
<br>
<br>
<form method="POST" action="/show/<%= quote.id %>?_method=DELETE">
  <button id="delete" type="submit">Delete</button>
</form>

<%- include('../partials/footer') %>
