<%- include('../partials/header') %>

<nav>
  <a href="/search">Search</a>
</nav>

<h1>Most Recent Searches</h1>

<!-- list of recent searches -->
<% quotes.forEach(function(q) { %>
<ul class="recent">
  <li><%= q.quote %></li>
  <li><%= q.actor %></li>
  <li><%= q.movie %></li>
</ul>
<% }) %>
<!-- CRUD button list -->
<ul class="crud">
  <li><a href="">Edit</a></li>
  <li><a href="show/new">Add New</a></li>
  <li><a href="">Delete</a></li>
</ul>
<%- include('../partials/footer') %>
