<%- include('../partials/header') %>

<nav>
  <a href="/search">Search</a>
  |
  <a href="/show/new">Add Quote</a>
</nav>

<h1>Most Recent Searches</h1>

<!-- list of recent searches -->
<div id="recent-container">
  <% quotes.forEach(function(q) { %>
  <div class="show">
    <ul class="recent-list">
      <li><a href="/show/<%= q.id %>"><%= q.quote %></a></li>
      <li><%= q.actor.name %></li>
      <li><%= q.movie.title %></li>
    </ul>
  </div>
  <% }); %>
</div>
<%- include('../partials/footer') %>
